body {
    width: 1440px;
    margin: 10px auto;
}
a {
    text-decoration: none;
    color: black;  /*Dalyd*/
}
.head {
    width: 100%;
    height: 845px;
    background-color: #eff0f2;
}
.head-top {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.head-logo {
    border: 5px solid;
    padding-left: 5px;
    padding-right: 5px;
}
.head-logo span {
    color: #77efe5;
}
.head-top-menu div {
    width: 35px;
    height: 5px;
    background-color: rgb(58, 52, 52);
    margin: 6px 0;
}


.head-center {
    text-align: center;
    font-size: 18px;
    color: #505050;
    text-transform: uppercase;
    text-shadow: 0px 5px 7px #505255;
  }
.head-center span {
    background-color: #b2f2ee;
}
.head-input {
    text-align: center;
    margin: auto;
    border: solid 1px;
    width: 232px;
    margin-top: 150px;
    color: #969798;
}  
.head-input h1 {
    color: #3c3c3d;
    
}
.head-jusy {
    background: url(../img/jusy.jpg) no-repeat;
    height: 100%;
    float: right;
    width: 100px;
}

.about {
    background-color: #f8fafa;
    width: 100%;
    height: 800px;
    padding-top: 20px;
}
.about-us h1 {
    margin: 0;
    color: #181919;
}
.about-us p {
    color: #5e5f5f;
}
.about-us  {
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
.about-blog {
    display: flex;
    width: 900px;
    margin: auto;
    padding-top: 50px;
}
.blog-img {

}
.blog-text {
    margin-left: 50px;
    width: 474px;
}
.blog-text h1 {
    color: #3e3f3f;
    text-transform: uppercase;
}
.blog-text p {
    color: #4c4c4c;
}

.feature-blog {
    width: 1140px;
    margin: auto;
}
.feature-text {
    text-align: center;
    text-transform: uppercase;
}
.feature-text h1 {
    color: #191919;
}
.feature-text p {
    color: #898989;
}
.our-services {
    width: 1140px;
    margin: auto;
} 
.our-text {
    text-align: center;
    text-transform: uppercase;
}
.our-text h1 {
    color: #191919;
}
.our-text p {
    color: #898989;
}
.small-team {
    width: 1140px;
    margin: auto;
}
.small-text {
    text-align: center;
    text-transform: uppercase;
}
.small-text h1 {
    color: #191919;
}
.small-text p {
    color: #898989;
}
.small-img img {
    width: 370px;
    height: 440px;
}

.what-blog {
    width: 1140px;
    margin: auto;
}
.what-say {
    position: relative;
    padding-bottom: 50px;
}
.what-us {
    text-align: center;
    text-transform: uppercase;
}
.what-us h1 {
    color: #191919;
}
.what-us p {
    color: #898989;
}
.what-blog {
    display: flex;
}
.what-text {
    background-color: #eaebed;
    width: 666px;
    height: 290px;
    text-align: center;
    padding-top: 150px;
    margin-top: 10px;
    margin-left: 20px;
}
.what-text h1 {
    width: 499px;
    margin: auto;
    padding-bottom: 25px;
}
.what-text span {
    color: #898989;
}
.what-text p {
    width: 499px;
    margin: auto;
}
.what-text h2 {
    color: #f2da3b;
    font-size: 40px;
    
}
.next-page {
    display: flex;
    position: absolute;
    right: 250px;
    letter-spacing: 5px;
    
    
}
.left {
    background-color: #b6afaf;
    
}
.right {
    background-color: #71f6eb;
   
}
.contact {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 50px;
}
.contact-email {
    background-color: #4b5a63;
    width: 614px;
    height: 460px;

}

.input {
    display: grid;
    gap: 5px;
    width: 550;
    padding-top: 100px;
    padding-left: 30px;
    
}
.input input {
    background: none;
    border-bottom: 2px solid #ccc;
    
}
.input button {
    width: 245px;
    background-color: #6eeee4; 
}
.input-massege {
    height: 100px;
}

.contact-map {
    background-color: #4b5a63;
    width: 614px;
    height: 460px;
}
.contact-map h4 {
    margin: 15px;
    color: #c4cace;
} 
.contact-map img {
    margin-left: 10px;
}
footer {
    background-color: #262b2e;
    width: 100%;
    height: 300px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10%;
}
.follow h1 {
    color: #d4d5d5;
}
.follow h2 {
    color: #7d8082;
    padding-top: 50px;
}
